In [3]:
strr = 'Hello World'
          # prints complete string
       # prints first character of string
    # prints characters starting from 3rd to 6th. Exclude last element. 'W' is excluded.
      # prints string starting from 3rd character
      # prints string two times

In [19]:
print(strr)
print(strr[0])
print(strr[2:7])
print(strr[2:6])
print(strr[2:])
print(strr*2)

Hello World
H
llo W
llo
llo World
Hello WorldHello World

In [23]:
'. '.join([strr]*2)

'Hello World. Hello World'

In [39]:
# replace
#'hello world' h with j
strr.replace('o','j')

strr.split(' ')[0].replace('l','k')+' '+strr.split(' ')[-1]

'Hekko'

In [42]:
s=['a','b','c','d','e','1']

In [44]:
s[3]

'd'

In [55]:
x=5
if (x>10):
    print ('you r more than 10')

elif (x==10):
    print('y is equal to 10')
else :
    print('y r less than 10')

y r less than 10

In [64]:
def check_num(x):
    if (x>10):
        print ('you r more than 10')

    elif (x==10):
        print('y is equal to 10')
    else :
        print('y r less than 10')

    y=(x**2)
    return y,y**8,9*y

In [67]:
z,a,b=check_num(20)

you r more than 10

In [70]:
range(1,10)

range(1, 10)

In [85]:
x=5
for i in range(1,11):
    print(x,'x',i,'=',i*x)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [92]:
def multiply(x):
    for i in range(1,11):
        print(x,'x',i,'=',i*x)

In [93]:
multiply(10)

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [95]:
for i in range(1,11):
    print('table of',i,'..........')
    multiply(i)

table of 1 ..........
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
table of 2 ..........
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
table of 3 ..........
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
table of 4 ..........
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
table of 5 ..........
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
table of 6 ..........
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
table of 7 ..........
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
table of 8 ..........
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
table of 9 ..........
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
table of 10 ..........
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100